//Core
@import "./core/_reset.scss";
@import "./core/_variables.scss";
@import "./core/_font.scss";
@import "./core/_minxin.scss";

//Components
@import "./components/_button.scss";

//Page
@import "./pages/_home.scss";
@import "./pages/_tour.scss";
