.hero-banner {
  padding: 100px 0;
  background-image: url("./../images/defaults/tour.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    color: #ffffff;
    font-size: 50px;
  }
}

.list-tag {
  a {
    font-size: 10px;
    color: #1a2b48;
    font-weight: 600;
    background: #f7f6f6;
    border-radius: 3px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    &:hover {
      background: #5191fa;
      color: #fff;
    }
  }
}
