.filter-news {
  h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  form {
    position: relative;
    margin-bottom: 20px;
    input {
      width: 100%;
      padding: 8px 10px;
      border: 1px solid #d7dce3;
      color: #d7dce3;
      border-radius: 3px;
      transition: 0.3s all;
      &::placeholder {
        font-style: italic;
        font-size: 13px;
      }
      &:focus {
        border-color: #5191fa;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
    button {
      position: absolute;
      right: 0;
      height: 35px;
      width: 35px;
      border: none;
      cursor: pointer;
      background-color: #5191fa;
      border-radius: 3px;
      &:hover {
        background-color: #4880dc;
      }
      i {
        color: white;
        font-size: 12px;
      }
    }
  }
  .abouts {
    margin-bottom: 20px;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      color: #5e6d77;
    }
  }
  .lasted-news {
    margin-bottom: 10px;
    .row {
      align-items: center;
    }
    .col-md-4 {
      padding-right: 10px;
      @include media(540px) {
        padding-right: 0;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 70px;
      @include media(540px) {
        height: auto;
      }
    }
    .content {
      h3 {
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 5px;
        line-height: 20px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
