/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  transition: all 0.5s ease;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
.btn {
  width: 170px;
  padding: 6px 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  text-transform: uppercase;
  color: #6c6c6c;
  border: 1px solid #c3c3c3;
  border-radius: 50px;
  background-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-main {
  border: 1px solid #ffdd00;
  background-color: #ffdd00;
}

#header .wrapper-topbar {
  background-color: #004052;
}
#header .wrapper-topbar .topbar {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .wrapper-topbar .topbar-left, #header .wrapper-topbar .topbar-right {
  display: flex;
}
#header .wrapper-topbar .topbar-left li, #header .wrapper-topbar .topbar-right li {
  padding: 0 20px;
  border-right: 1px solid #fff;
  color: #fff;
}
#header .wrapper-topbar .topbar-left li:last-child, #header .wrapper-topbar .topbar-right li:last-child {
  border: none;
}
#header .wrapper-topbar .topbar-left li a, #header .wrapper-topbar .topbar-right li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
#header .wrapper-topbar .topbar-left li a {
  padding: 0 10px;
}
#header .wrapper-menu {
  padding: 10px 0;
}
#header .wrapper-menu .menu ul li {
  padding: 25px;
}
#header .wrapper-menu .menu ul li a {
  color: #000000;
  font-weight: 200;
}
#header .wrapper-menu .menu ul li a:hover {
  color: #ffdd00;
}
#header .wrapper-menu .become-partners a {
  background: #FA5636;
  border-radius: 3px;
  padding: 15px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  display: inline-block;
}
#header .wrapper-menu .become-partners a:hover {
  background: #d3482e;
}

.wrapper-home .about-us {
  padding: 100px 0;
}
.wrapper-home .about-us .content img {
  margin-bottom: 30px;
  margin-left: 25%;
}
.wrapper-home .about-us .content h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #004052;
  margin-bottom: 20px;
}
.wrapper-home .about-us .content p {
  font-size: 14px;
  line-height: 24px;
  color: #555e69;
}
.wrapper-home .regions {
  padding: 110px 0;
  background-image: url("./../images/defaults/background/bg-duoicung.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}
.wrapper-home .regions .sub-title {
  margin-bottom: 60px;
}
.wrapper-home .regions .sub-title p {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
.wrapper-home .regions .sub-title h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.wrapper-home .regions .sub-title strong {
  color: #ffdd00;
}
.wrapper-home .regions .wrapper-image {
  position: relative;
  overflow: hidden;
}
.wrapper-home .regions .wrapper-image a img {
  transition: all 0.8s ease;
}
.wrapper-home .regions .wrapper-image a:hover img {
  transform: scale(1.3);
}
.wrapper-home .regions .content {
  background-color: #fff;
  text-align: center;
  margin-bottom: 70px;
}
.wrapper-home .regions .content a {
  transition: all 0.5s ease;
  display: block;
  color: #337ab7;
  text-decoration: none;
}
.wrapper-home .regions .content a:hover {
  color: #ffdd00;
}
.wrapper-home .regions .content .features {
  padding: 15px 0;
}
.wrapper-home .regions .content .detail {
  padding: 40px 0;
}
.wrapper-home .regions .content .detail a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #4d4d4d;
  color: #fff;
}
.wrapper-home .regions .content .detail a:hover {
  color: #4d4d4d;
  background-color: #ffdd00;
}
.wrapper-home .regions .content hr {
  margin: 0;
}
.wrapper-home .regions a {
  display: inline-block;
  text-align: center;
}
.wrapper-home .regions .more a {
  text-decoration: none;
  color: #4d4d4d;
  padding: 10px 50px;
  background-color: #ffdd00;
  border-radius: 50px;
  font-size: 14px;
}
.wrapper-home .experience {
  padding: 100px;
  background-image: url("./../images/defaults/background/bg-section-videos.jpg");
  background-size: cover;
  background-position: bottom;
  color: #fff;
}
.wrapper-home .experience h2 {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.wrapper-home .experience strong {
  color: #ffdd00;
  font-size: 24px;
}
.wrapper-home .experience h3 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.wrapper-home .experience p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 30px;
}
.wrapper-home .experience .promote-videos {
  width: 100%;
  position: absolute;
  height: 380px;
  z-index: 10;
}
.wrapper-home .news {
  padding: 110px 0;
}
.wrapper-home .news h2 {
  color: #ffdd00;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.wrapper-home .news .content h3 {
  font-size: 24px;
  line-height: 30px;
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #434a54;
}
.wrapper-home .news .content ul {
  display: flex;
  margin-left: -15px;
  margin-bottom: 20px;
}
.wrapper-home .news .content ul li {
  padding: 0 15px;
  position: relative;
}
.wrapper-home .news .content ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #555e69;
}
.wrapper-home .news .content ul li a:hover {
  color: #ffdd00;
}
.wrapper-home .news .content ul li + li::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  content: "";
  border-left: 1px solid #555e69;
}
.wrapper-home .news .content p {
  line-height: 24px;
  margin-bottom: 30px;
}
.wrapper-home .news .btn {
  width: auto;
  text-transform: capitalize;
}
.wrapper-home .news .btn:hover {
  background-color: #3c3c3c;
  color: #fff;
  border: 1px solid transparent;
}
.wrapper-home .tours-sale {
  color: #fff;
}
.wrapper-home .tours-sale .left-content {
  mix-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  vertical-align: middle;
}
.wrapper-home .tours-sale .left-content .content {
  background-image: url("./../images/defaults/background/bg-section-banner-1.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.wrapper-home .tours-sale .left-content .content h3 {
  padding-top: 25%;
  padding-right: 10%;
  padding-left: 10%;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.85);
  mix-blend-mode: lighten;
  font-size: 95px;
  font-weight: 900;
}
.wrapper-home .tours-sale .left-content .content h4 {
  padding-top: 15px;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 100px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.85);
  mix-blend-mode: lighten;
  font-size: 45px;
  font-weight: 900;
}
.wrapper-home .tours-sale .right-content {
  padding: 154px 0;
  width: 100%;
  background-image: url("./../images/defaults/background/bg6.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}
.wrapper-home .tours-sale .right-content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-home .tours-sale .right-content .detail .detail-left .sale-box {
  position: relative;
  display: inline-block;
}
.wrapper-home .tours-sale .right-content .detail .detail-left .sale-box h2 {
  font-size: 90px;
  font-weight: 900;
  color: #ffdd00;
}
.wrapper-home .tours-sale .right-content .detail .detail-left .sale-box .sup-1 {
  color: #ffdd00;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 10px;
  left: 100%;
  display: block;
}
.wrapper-home .tours-sale .right-content .detail .detail-left .sale-box span {
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  bottom: 8px;
  left: 100%;
  display: block;
  text-transform: uppercase;
}
.wrapper-home .tours-sale .right-content .detail .detail-left h3 {
  font-size: 72px;
  font-weight: 900;
  line-height: 55px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper-home .tours-sale .right-content .detail .detail-right {
  margin-left: 30px;
}
.wrapper-home .tours-sale .right-content .detail .detail-right h2 {
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 0 5px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #ffffff;
}
.wrapper-home .tours-sale .right-content .detail .detail-right p {
  max-width: 300px;
  line-height: 25px;
  margin-bottom: 20px;
}
.wrapper-home .tours-sale .right-content .detail .detail-right .group-btn a {
  border-radius: 50px;
  text-decoration: none;
  padding: 8px 25px;
  text-transform: capitalize;
}
.wrapper-home .tours-sale .right-content .detail .detail-right .group-btn a:first-child {
  border: 1px solid #ffdd00;
  color: #3c3c3c;
  background-color: #ffdd00;
  font-size: 14px;
  margin-right: 10px;
}
.wrapper-home .tours-sale .right-content .detail .detail-right .group-btn a:last-child {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.wrapper-home .tours-sale .right-content .detail .detail-right .group-btn a:hover {
  background-color: #3c3c3c;
  color: #fff;
  border: 1px solid transparent;
}
.wrapper-home .contact-us {
  padding: 100px 0;
  background-image: url("./../images/defaults/background/bg5.jpg");
  background-size: cover;
  background-position: bottom;
}
.wrapper-home .contact-us .contact-form {
  background-color: #ffdd00;
  padding: 40px 35px;
  text-align: center;
}
.wrapper-home .contact-us .contact-form h5 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #3c3c3c;
}
.wrapper-home .contact-us .contact-form p {
  font-style: italic;
  margin: 0 0 35px 0;
}
.wrapper-home .contact-us .contact-form form input,
.wrapper-home .contact-us .contact-form form textarea {
  margin-bottom: 10px;
  border: none;
  outline: none;
}
.wrapper-home .contact-us .contact-form form input:focus,
.wrapper-home .contact-us .contact-form form textarea:focus {
  outline: none;
  box-shadow: none;
}
.wrapper-home .contact-us .contact-form form .btn-slide {
  margin-top: 10px;
  font-size: 13px;
  display: inline-block;
  width: 170px;
  height: 34px;
  padding: 0 15px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #3c3c3c;
  border-radius: 50px;
  background-color: #3c3c3c;
}
.wrapper-home .contact-us .contact-form form .btn-slide:focus {
  outline: none;
}
.wrapper-home .contact-us .contact-form form span {
  color: #ffdd00;
}

footer .footer-main {
  padding: 100px 0;
  font-size: 12px;
  color: #8e8e8e;
  background-color: #121212;
  background-image: url("../images/defaults/background/bg-footer.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
footer .footer-main img {
  max-width: 150px;
  max-height: 65px;
  margin: 0 auto;
  display: block;
  margin-bottom: 90px;
}
footer .footer-main ul li {
  padding: 0 0 10px;
  line-height: 24px;
}
footer .footer-main h3 {
  font-size: 17px;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
}
footer .footer-main p {
  line-height: 24px;
}
footer .footer-main .list-mien li a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0 0 12px 20px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: #8e8e8e;
}
footer .footer-main .list-mien li a:hover {
  color: #ffdd00;
}
footer .footer-main .list-mien li a:before {
  font-family: "FontAwesome";
  color: #ffdd00;
  font-size: 7px;
  position: absolute;
  left: 0;
  content: "\f10c";
}
footer .footer-main .list-mien li:hover a::before {
  content: "\f111";
  color: #ffdd00;
}
footer .footer-main .list-icon-social {
  margin-left: -30px;
}
footer .footer-main .list-icon-social li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
footer .footer-main .list-icon-social li a {
  font-size: 18px;
  padding: 0 8px;
  color: #ffdd00;
}
footer .footer-main .list-icon-social li a:hover {
  color: #ffffff;
}
footer .copyright {
  background-color: #121212;
  padding: 25px 0;
  text-align: center;
}
footer .copyright p {
  color: #ffdd00;
}

@media screen and (max-width: 480px) {
  #header .wrapper-topbar .topbar li {
    border: none;
    padding: 0 15px;
  }
  #header .wrapper-topbar .topbar-left {
    display: inline-block;
  }
  #header .wrapper-topbar .topbar-left .header-mail {
    display: none;
  }

  .wrapper-home .about-us .content {
    margin-bottom: 40px;
  }
  .wrapper-home .about-us .content img {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .wrapper-home .about-us .content h2 {
    text-align: center;
  }
  .wrapper-home .experience {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper-home .experience h3 {
    font-size: 30px;
  }
  .wrapper-home .experience .promote-videos {
    position: static;
  }
  .wrapper-home .news {
    padding: 50px 0;
  }
  .wrapper-home .news .content {
    margin-top: 30px;
  }
  .wrapper-home .tours-sale .left-content .content h3 {
    font-size: 60px;
  }
  .wrapper-home .tours-sale .right-content {
    background-attachment: scroll;
    padding-left: 10%;
    padding-right: 10%;
  }
  .wrapper-home .tours-sale .right-content .detail {
    flex-direction: column;
  }
  .wrapper-home .tours-sale .right-content .detail .detail-left {
    margin-bottom: 30px;
  }
  .wrapper-home .tours-sale .right-content .detail .detail-right {
    text-align: center;
  }
  .wrapper-home .tours-sale .right-content .detail .detail-right p {
    margin-bottom: 40px;
  }

  footer .footer-main {
    text-align: center;
  }
  footer .footer-main .list-mien li a {
    padding-left: 0;
  }
  footer .footer-main .list-mien li a:before {
    content: unset;
  }
  footer .footer-main .list-mien li:hover a::before {
    content: unset;
  }
  footer .footer-main .list-icon-social {
    margin-left: 0;
  }
}
.wrapper-tour .hero-banner {
  padding: 100px 0;
  background-image: url("./../images/defaults/tour.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper-tour .hero-banner h2 {
  color: #ffffff;
  font-size: 50px;
}
.wrapper-tour .tours {
  margin-top: 50px;
}
.wrapper-tour .tours a {
  text-decoration: none;
}
.wrapper-tour .tours .filter-tour {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.wrapper-tour .tours .filter-tour .found-search {
  display: flex;
  align-items: flex-end;
}
.wrapper-tour .tours .filter-tour .found-search h3 {
  font-size: 20px;
}
.wrapper-tour .tours .filter-tour .found-search a {
  font-size: 14px;
  padding-left: 10px;
}
.wrapper-tour .tours .filter-tour .sort {
  display: flex;
  align-items: center;
}
.wrapper-tour .tours .filter-tour .sort a {
  font-size: 14px;
  margin-right: 20px;
  color: #1a2b48;
}
.wrapper-tour .tours .filter-tour .sort .layout {
  display: flex;
}
.wrapper-tour .tours .filter-tour .sort .layout-item {
  margin-right: 5px;
  cursor: pointer;
}
.wrapper-tour .tours .filter-tour .sort .layout-item svg {
  height: 20px;
}
.wrapper-tour .tours .filter-tour .sort .layout-item .icon-active {
  display: none;
}
.wrapper-tour .tours .filter-tour .sort .active .icon-active {
  display: block;
}
.wrapper-tour .tours .filter-tour .sort .active .icon-normal {
  display: none;
}
.wrapper-tour .tours .sidebar .search-form {
  margin-bottom: 20px;
  border: 1px solid #d7dce3;
  box-shadow: 0px 2px 9px 0px #dfdfdf;
}
.wrapper-tour .tours .sidebar .search-form .search-title h2 {
  padding: 20px 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.wrapper-tour .tours .sidebar .search-form .search-title h2::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #5191fa;
  display: block;
  float: left;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .content {
  margin-left: 20px;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .content label {
  font-size: 15px;
  margin-bottom: 3px;
  color: #5e6d77;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .content input {
  border: none;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .content input:focus {
  outline: none;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .content input::placeholder {
  color: #5191fa;
  font-size: 14px;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .content #checkin,
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .content #checkout {
  margin-top: 5px;
  color: #5191fa;
  font-size: 14px;
  cursor: pointer;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .arrow-date {
  cursor: pointer;
  position: absolute;
  right: 40px;
  color: #5e6d77;
  font-size: 20px;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item .arrow-date i {
  font-family: "FontAwesome";
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item button {
  width: 100%;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: #5191fa;
  cursor: pointer;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .item button:focus {
  outline: none;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .dropdown-place {
  overflow: hidden scroll;
  padding: 10px 0 20px 0;
  border-radius: 3px;
  border: 2px solid #c6c6c6;
  max-height: 332px;
  outline: none;
  display: block;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .dropdown-place li {
  padding: 10px 0;
  cursor: pointer;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .dropdown-place li span {
  font-size: 14px;
  padding-left: 60px;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .dropdown-place li:hover {
  background: #f5f4f7;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .dropdown-place::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .dropdown-place::-webkit-scrollbar-track {
  border-radius: 10px;
}
.wrapper-tour .tours .sidebar .search-form .form .wrapper-items .dropdown-place:hover::-webkit-scrollbar-thumb {
  background: #c4c7ca;
  border-radius: 10px;
}
.wrapper-tour .tours .sidebar .filter-items {
  box-shadow: 0px 2px 9px 0px #dfdfdf;
  border: 1px solid #d7dce3;
}
.wrapper-tour .tours .sidebar .filter-items .item {
  padding: 20px 15px;
  border-bottom: 1px solid #dfdfdf;
}
.wrapper-tour .tours .sidebar .filter-items .item h4 {
  margin-bottom: 30px;
  font-weight: bold;
  color: #1a2b48;
}
.wrapper-tour .tours .sidebar .filter-items .item .two-ele ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 26px;
  cursor: pointer;
}
.wrapper-tour .tours .sidebar .filter-items .item .two-ele ul li i {
  font-size: 13px;
  color: #ffdc00;
}
.wrapper-tour .tours .sidebar .filter-items .item .two-ele ul li .checkmark::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border-radius: 0;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid var(--link-color, #5191fa);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.wrapper-tour .tours .sidebar .filter-items .item .two-ele ul li .fcheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #a0a9b2;
}
.wrapper-tour .tours .sidebar .filter-items .item .two-ele ul li .fake-star {
  color: #c4c7ca;
}
.wrapper-tour .tours .sidebar .filter-items .item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.wrapper-tour .tours .list-tours .wrapper-tour {
  overflow: hidden;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-bottom: 30px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image {
  overflow: hidden;
  position: relative;
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image a img {
  transition: all 0.5s ease;
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image a:hover img {
  transform: scale(1.2);
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image .icons {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image .icons a i {
  color: #ffffff;
  font-size: 20px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image .icons a:hover i {
  color: #fe0000;
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image .feature-tour {
  position: absolute;
  top: 25px;
  border-radius: 0 3px 3px 0;
  padding: 6px 10px;
  background: #19a1e5;
  color: #ffffff;
  font-size: 14px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .feature-image .sale {
  position: absolute;
  width: 80px;
  height: 48px;
  background-color: #cc0033;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -30px;
  top: -13px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  z-index: 8;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content {
  padding: 15px 15px 20px 15px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content a {
  display: inline-block;
  color: #000000;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content a:hover {
  text-decoration: underline;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-top h3 {
  color: #6f6f6f;
  font-size: 14px;
  margin-left: 5px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-mid {
  display: flex;
  flex: 0 0 50%;
  margin-bottom: 30px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-mid .list-star li {
  padding-right: 5px;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-mid .list-star li i {
  font-size: 15px;
  color: #ffdc00;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-mid span {
  margin-left: 10px;
  font-size: 13px;
  color: #6f6f6f;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-bottom a {
  margin: 0;
  padding: 10px;
  background-color: #ffdc00;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-bottom a:hover {
  text-decoration: none;
}
.wrapper-tour .tours .list-tours .wrapper-tour .content-bottom p {
  padding-left: 5px;
}
.wrapper-tour .tours .tours-cover .item-service {
  border: 1px solid #d7dce3;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
}
.wrapper-tour .tours .tours-cover .item-service .thumb {
  position: relative;
  overflow: hidden;
}
.wrapper-tour .tours .tours-cover .item-service .thumb img {
  display: block;
  height: 250px;
  object-fit: cover;
}
.wrapper-tour .tours .tours-cover .item-service .thumb a img {
  transition: all 0.5s ease;
}
.wrapper-tour .tours .tours-cover .item-service .thumb a:hover img {
  transform: scale(1.1);
}
.wrapper-tour .tours .tours-cover .item-service .thumb .feature-tour {
  position: absolute;
  top: 25px;
  border-radius: 0 3px 3px 0;
  padding: 6px 10px;
  background: #19a1e5;
  color: #ffffff;
  font-size: 14px;
  z-index: 10;
}
.wrapper-tour .tours .tours-cover .item-service .thumb .icons a i {
  z-index: 10;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #ffffff;
  font-size: 20px;
}
.wrapper-tour .tours .tours-cover .item-service .thumb .icons a:hover i {
  color: #fe0000;
}
.wrapper-tour .tours .tours-cover .item-service .content {
  border-right: 1px solid #dfdfdf;
  padding-right: 10px;
  height: 100%;
}
.wrapper-tour .tours .tours-cover .item-service .content a {
  display: inline-block;
  color: #000000;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
}
.wrapper-tour .tours .tours-cover .item-service .content a:hover {
  text-decoration: underline;
}
.wrapper-tour .tours .tours-cover .item-service .content p {
  color: #5e6d77;
  font-size: 15px;
  line-height: 20px;
}
.wrapper-tour .tours .tours-cover .item-service .content-top {
  display: flex;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 20px;
}
.wrapper-tour .tours .tours-cover .item-service .content-top h3 {
  color: #6f6f6f;
  font-size: 16px;
  margin-left: 5px;
}
.wrapper-tour .tours .tours-cover .item-service .content-mid {
  display: flex;
  flex: 0 0 50%;
  margin-bottom: 20px;
}
.wrapper-tour .tours .tours-cover .item-service .content-mid .list-star li {
  padding-right: 5px;
}
.wrapper-tour .tours .tours-cover .item-service .content-mid .list-star li i {
  font-size: 15px;
  color: #ffdc00;
}
.wrapper-tour .tours .tours-cover .item-service .content-mid span {
  margin-left: 10px;
  font-size: 13px;
  color: #6f6f6f;
}
.wrapper-tour .tours .tours-cover .item-service .services {
  padding-top: 35px;
  position: relative;
}
.wrapper-tour .tours .tours-cover .item-service .services i {
  color: #5e6d77;
}
.wrapper-tour .tours .tours-cover .item-service .services span {
  color: #5e6d77;
  font-size: 14px;
  margin-left: 8px;
}
.wrapper-tour .tours .tours-cover .item-service .services-price {
  max-width: 85%;
  justify-content: space-around;
  padding: 10px 5px;
  background-color: #ffab53;
  color: #fff;
  margin-bottom: 20px;
}
.wrapper-tour .tours .tours-cover .item-service .services-price span {
  color: #fff;
  font-weight: normal;
  font-size: 13px;
}
.wrapper-tour .tours .tours-cover .item-service .services-price p {
  font-weight: 200;
  font-size: 20px;
}
.wrapper-tour .tours .tours-cover .item-service .services-list {
  margin-bottom: 15px;
}
.wrapper-tour .tours .tours-cover .item-service .services .sale {
  position: absolute;
  width: 75px;
  height: 44px;
  background-color: #cc0033;
  transform: rotate(45deg);
  right: -30px;
  top: -13px;
  line-height: 65px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  z-index: 8;
}
.wrapper-tour .tours .tours-cover .item-service .services .btn-tours {
  margin-left: -30px;
  display: inline-block;
  border: 1px solid #5191fa;
  border-radius: 3px;
  color: #5191fa;
  background-color: transparent;
  padding: 9px 25px;
}

@media screen and (max-width: 768px) {
  .wrapper-tour .tours .sidebar {
    display: none;
  }
}
.wraper-contact .border-bottom-title {
  border-bottom: 1px solid #eaeef3;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .wraper-contact .border-bottom-title {
    display: none;
  }
}
.wraper-contact .border-bottom-title .title-detial ul {
  display: flex;
  justify-content: start;
  padding: 15px 0px;
}
.wraper-contact .border-bottom-title .title-detial ul li ~ li::before {
  content: ">";
  width: 20px;
  height: 20px;
  padding-left: 10px;
}
.wraper-contact .border-bottom-title .title-detial ul li a {
  color: #1a2b48;
}
.wraper-contact .section-2 {
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .wraper-contact .section-2 {
    padding-top: 50px;
  }
}
.wraper-contact .section-2 .btn {
  border-radius: 10px !important;
  background: #5191fa;
  color: #fff;
}
.wraper-contact .section-2 .btn:hover {
  border: unset;
}
.wraper-contact .section-2 .title-form {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeef3;
}
.wraper-contact .section-2 .title-form .btn {
  border-radius: 5px !important;
}
.wraper-contact .section-2 .title-form h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 0px;
  padding-bottom: 20px;
}
.wraper-contact .section-2 .title-form p {
  font-size: 18px;
}
.wraper-contact .contact-right {
  margin-left: 100px;
}
@media (max-width: 767px) {
  .wraper-contact .contact-right {
    margin-left: unset;
  }
}
@media (max-width: 991px) {
  .wraper-contact .contact-right img {
    display: none;
  }
}
.wraper-contact .contact-right .title-contact-right {
  font-family: "Poppins", sans-serif !important;
  position: absolute;
  background: #fa5636;
  width: 385px;
  height: 375px;
  color: #ffff;
  padding: 30px;
  top: 70px;
  left: 50%;
  transform: translate(-90%);
}
@media (max-width: 1199px) {
  .wraper-contact .contact-right .title-contact-right {
    transform: translate(-70%);
  }
}
@media (max-width: 991px) {
  .wraper-contact .contact-right .title-contact-right {
    position: relative;
    margin: 50px auto;
    width: 700px;
    transform: translate(-57%);
    height: auto;
  }
}
@media (max-width: 767px) {
  .wraper-contact .contact-right .title-contact-right {
    position: relative;
    margin-left: unset;
    width: 100%;
    transform: unset;
    left: unset;
    top: unset;
  }
}
.wraper-contact .contact-right .title-contact-right h1 {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 180px;
}
@media (max-width: 991px) {
  .wraper-contact .contact-right .title-contact-right h1 {
    padding-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .wraper-contact .contact-right .title-contact-right h1 {
    padding-bottom: 100px;
  }
}
.wraper-contact .contact-right .title-contact-right ul li {
  font-family: none !important;
  line-height: 25px;
}
@media (max-width: 991px) {
  .wraper-contact .contact-right .title-contact-right ul li {
    line-height: 35px;
  }
}

.wraper-partner .slider {
  background: url("./../images/defaults/partner/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  width: 100%;
}
@media (max-width: 575px) {
  .wraper-partner .slider {
    background-size: 850px;
    height: 500px;
  }
}
.wraper-partner .slider .box-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 15rem;
}
@media (max-width: 575px) {
  .wraper-partner .slider .box-content {
    top: 12rem;
  }
}
.wraper-partner .slider .box-content .title-slider {
  font-weight: 800;
  color: #fff;
  font-size: 34px;
  text-align: center;
  padding-bottom: 1rem;
}
.wraper-partner .slider .box-content .title-slider h1 {
  font-size: 40px;
}
@media (max-width: 991px) {
  .wraper-partner .slider .box-content .title-slider h1 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .wraper-partner .slider .box-content .title-slider h1 {
    font-size: 25px;
  }
}
.wraper-partner .slider .box-content .box-text {
  color: #fff;
  padding-bottom: 1rem;
}
@media (max-width: 991px) {
  .wraper-partner .slider .box-content .box-text {
    text-align: center;
  }
}
.wraper-partner .slider .box-content a {
  background: #fa5535;
  border-radius: 5px;
  width: 250px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .wraper-partner .slider .box-content a {
    width: 180px;
    height: 45px;
    font-size: 25px;
    line-height: unset;
  }
}
@media (max-width: 575px) {
  .wraper-partner .slider .box-content a {
    height: 150px;
    height: 40px;
    font-size: 20px;
  }
}
.wraper-partner .slider .box-content a:hover {
  background: #d63a1c;
  border-radius: 20px;
}
.wraper-partner .title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 3rem;
}
.wraper-partner .title h1 {
  font-size: 40px;
}
@media (max-width: 991px) {
  .wraper-partner .title h1 {
    font-size: 30px;
  }
}
.wraper-partner .section-2 {
  padding-bottom: 5rem;
}
.wraper-partner .section-2 .box-text {
  margin-left: 3rem;
}
@media (max-width: 575px) {
  .wraper-partner .section-2 .box-text {
    padding-bottom: 2rem;
  }
}
.wraper-partner .section-2 .box-text p span {
  font-weight: 100;
}
@media (max-width: 991px) {
  .wraper-partner .section-2 .box-text p {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .wraper-partner .section-2 .box-text p {
    font-size: 16px;
  }
}
.wraper-partner .section-2 .box-text::after {
  content: "";
  left: 0px;
  top: 0px;
  height: 100px;
  width: 100%;
  position: absolute;
}
@media (max-width: 575px) {
  .wraper-partner .section-2 .box-text::after {
    left: 16px;
  }
}
.wraper-partner .section-2 .box-text.bg-1::after {
  background: url("./../images/defaults/partner/icon-1.png") no-repeat;
}
@media (max-width: 991px) {
  .wraper-partner .section-2 .box-text.bg-1::after {
    background-size: 60px;
  }
}
@media (max-width: 575px) {
  .wraper-partner .section-2 .box-text.bg-1::after {
    background-size: 40px;
  }
}
.wraper-partner .section-2 .box-text.bg-2::after {
  background: url("./../images/defaults/partner/icon-2.png") no-repeat;
}
@media (max-width: 991px) {
  .wraper-partner .section-2 .box-text.bg-2::after {
    background-size: 60px;
  }
}
@media (max-width: 575px) {
  .wraper-partner .section-2 .box-text.bg-2::after {
    background-size: 40px;
  }
}
.wraper-partner .section-2 .box-text.bg-3::after {
  background: url("./../images/defaults/partner/icon-3.png") no-repeat;
}
@media (max-width: 991px) {
  .wraper-partner .section-2 .box-text.bg-3::after {
    background-size: 60px;
  }
}
@media (max-width: 575px) {
  .wraper-partner .section-2 .box-text.bg-3::after {
    background-size: 40px;
  }
}
.wraper-partner .section-4 {
  background: url("./../images/defaults/background/benefit.png") no-repeat;
  background-size: cover;
}
@media (max-width: 1199px) {
  .wraper-partner .section-4 {
    background-position: center;
  }
}
.wraper-partner .section-4 .title-section-4 {
  padding-top: 6rem;
}
@media (max-width: 575px) {
  .wraper-partner .section-4 .title-section-4 {
    padding-top: 9rem;
  }
}
.wraper-partner .section-4 .title-section-4 h1 {
  font-weight: 100;
  color: #4a4a4a;
  font-size: 34px;
  text-align: center;
  padding: 1rem 0rem;
}
.wraper-partner .section-4 .title-section-4 p {
  color: #4a4a4a;
  text-align: center;
  padding-bottom: 3rem;
}
.wraper-partner .section-4 .box-content .title-box {
  padding-bottom: 3rem;
  color: #4a4a4a;
  position: relative;
  padding-left: 5rem;
}
.wraper-partner .section-4 .box-content .title-box::after {
  content: "";
  left: -20px;
  top: 0px;
  height: 100px;
  width: 100%;
  position: absolute;
}
.wraper-partner .section-4 .box-content .title-box.bg-1 {
  background: url("./../images/defaults/partner/icon-benefit-01.png") no-repeat;
}
.wraper-partner .section-4 .box-content .title-box.bg-2 {
  background: url("./../images/defaults/partner/icon-benefit-02.png") no-repeat;
}
.wraper-partner .section-4 .box-content .title-box.bg-3 {
  background: url("./../images/defaults/partner/icon-benefit-03.png") no-repeat;
}
.wraper-partner .section-4 .box-content .title-box.bg-4 {
  background: url("./../images/defaults/partner/icon-benefit-04.png") no-repeat;
}
.wraper-partner .section-4 .box-content .title-box.bg-5 {
  background: url("./../images/defaults/partner/icon-benefit-05.png") no-repeat;
}
.wraper-partner .section-4 .box-content .title-box.bg-6 {
  background: url("./../images/defaults/partner/icon-benefit-06.png") no-repeat;
}
.wraper-partner .section-4 .box-content .title-box h2 {
  padding-bottom: 1rem;
  font-weight: 600;
  color: #848484;
}
.wraper-partner .section-4 .box-content .title-box .box-text {
  line-height: 1.5rem;
}
.wraper-partner .section-5 {
  background: url("./../images/defaults/background/bg-duoicung.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.wraper-partner .section-5 .my-partner {
  background: #00000034;
  padding-top: 1rem;
}
.wraper-partner .section-5 .my-partner .slick-dots {
  bottom: 0 !important;
}
@media (max-width: 575px) {
  .wraper-partner .section-5 .my-partner .slick-prev:before,
  .wraper-partner .section-5 .my-partner .slick-next:before {
    opacity: 0;
  }
}
.wraper-partner .section-5 .my-partner:hover {
  background: #0000006b;
  transition: 2s;
}
.wraper-partner .section-5 .my-partner img {
  height: 100px;
}
.wraper-partner .section-5 .my-partner .title-section-5 {
  font-weight: 100;
  color: #fff;
  font-size: 34px;
  text-align: center;
  padding: 1rem 0rem;
}
.wraper-partner .section-5 .my-partner .sub-partner {
  padding: 2rem 0rem;
  text-align: center;
}
@media (max-width: 991px) {
  .wraper-partner .section-5 .my-partner .sub-partner {
    padding-bottom: 0rem;
  }
}
@media (max-width: 991px) {
  .wraper-partner .section-5 .my-partner .sub-partner .icon-partner {
    padding-bottom: 2rem;
  }
}
.wraper-partner .section-5 .my-partner .sub-partner .icon-partner a img {
  margin: 0 auto;
}
.wraper-partner .section-5 .my-partner .sub-partner .icon-partner h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 1rem;
}
