#header {
  .wrapper-topbar {
    background-color: #004052;
    .topbar {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-left,
      &-right {
        display: flex;
        li {
          padding: 0 20px;
          border-right: 1px solid #fff;
          color: #fff;
          &:last-child {
            border: none;
          }
          a {
            font-size: 14px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
      &-left {
        li {
          a {
            padding: 0 10px;
          }
        }
      }
      &-right {
      }
    }
  }
}
.wrapper-home {
  .about-us {
    padding: 100px 0;
    .content {
      img {
        margin-bottom: 30px;
        margin-left: 25%;
      }
      h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        color: #004052;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: #555e69;
      }
    }
  }
  .regions {
    padding: 110px 0;
    background-image: url("./../images/defaults/background/bg-duoicung.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    .sub-title {
      margin-bottom: 60px;
      p {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
      }
      strong {
        color: #ffdd00;
      }
    }
    .wrapper-image {
      position: relative;
      overflow: hidden;
      a {
        img {
          transition: all 0.8s ease;
        }
        &:hover {
          img {
            transform: scale(1.3);
          }
        }
      }
    }
    .content {
      background-color: #fff;
      text-align: center;
      margin-bottom: 70px;
      a {
        transition: all 0.5s ease;
        display: block;
        color: #337ab7;
        text-decoration: none;
        &:hover {
          color: #ffdd00;
        }
      }
      .features {
        padding: 15px 0;
      }
      .detail {
        padding: 40px 0;
        a {
          display: inline-block;
          padding: 10px 25px;
          border-radius: 50px;
          background-color: #4d4d4d;
          color: #fff;
          &:hover {
            color: #4d4d4d;
            background-color: #ffdd00;
          }
        }
      }
      hr {
        margin: 0;
      }
    }
    a {
      display: inline-block;
      text-align: center;
    }
    .more {
      a {
        text-decoration: none;
        color: #4d4d4d;
        padding: 10px 50px;
        background-color: #ffdd00;
        border-radius: 50px;
        font-size: 14px;
      }
    }
  }
  .experience {
    padding: 100px;
    background-image: url("./../images/defaults/background/bg-section-videos.jpg");
    background-size: cover;
    background-position: bottom;
    color: #fff;
    h2 {
      font-weight: bold;
      font-size: 18px;
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 5px;
      margin-bottom: 15px;
    }
    strong {
      color: #ffdd00;
      font-size: 24px;
    }
    h3 {
      font-size: 55px;
      font-weight: bold;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 30px;
    }
    .promote-videos {
      width: 100%;
      position: absolute;
      height: 380px;
      z-index: 10;
    }
  }
  .news {
    padding: 110px 0;
    h2 {
      color: #ffdd00;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 70px;
    }
    .content {
      h3 {
        font-size: 24px;
        line-height: 30px;
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
        color: #434a54;
      }
      ul {
        display: flex;
        margin-left: -15px;
        margin-bottom: 20px;
        li {
          padding: 0 15px;
          position: relative;
          a {
            text-transform: capitalize;
            text-decoration: none;
            color: #555e69;
            &:hover {
              color: #ffdd00;
            }
          }
          & + li {
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              height: 15px;
              content: "";
              border-left: 1px solid #555e69;
            }
          }
        }
      }
      p {
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
    .btn {
      width: auto;
      text-transform: capitalize;
      &:hover {
        background-color: #3c3c3c;
        color: #fff;
        border: 1px solid transparent;
      }
    }
  }
  .tours-sale {
    color: #fff;
    .left-content {
      mix-blend-mode: multiply;
      background-color: rgba(255, 255, 255, 0.85);
      width: 100%;
      vertical-align: middle;

      .content {
        background-image: url("./../images/defaults/background/bg-section-banner-1.jpg");
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        h3 {
          padding-top: 25%;
          padding-right: 10%;
          padding-left: 10%;
          color: #000000;
          background-color: rgba(255, 255, 255, 0.85);
          mix-blend-mode: lighten;
          font-size: 95px;
          font-weight: 900;
        }
        h4 {
          padding-top: 15px;
          padding-right: 10%;
          padding-left: 10%;
          padding-bottom: 100px;
          color: #000000;
          background-color: rgba(255, 255, 255, 0.85);
          mix-blend-mode: lighten;
          font-size: 45px;
          font-weight: 900;
        }
      }
    }
    .right-content {
      padding: 154px 0;
      width: 100%;
      background-image: url("./../images/defaults/background/bg6.jpg");
      background-repeat: repeat;
      background-attachment: fixed;
      background-position: top;
      background-size: cover;
      .detail {
        display: flex;
        justify-content: center;
        align-items: center;
        .detail-left {
          .sale-box {
            position: relative;
            display: inline-block;
            h2 {
              font-size: 90px;
              font-weight: 900;
              color: #ffdd00;
            }
            .sup-1 {
              color: #ffdd00;
              font-size: 40px;
              font-weight: 900;
              position: absolute;
              top: 10px;
              left: 100%;
              display: block;
            }
            span {
              font-size: 36px;
              font-weight: 900;
              line-height: 1;
              position: absolute;
              bottom: 8px;
              left: 100%;
              display: block;
              text-transform: uppercase;
            }
          }
          h3 {
            font-size: 72px;
            font-weight: 900;
            line-height: 55px;
            margin: 0;
            text-transform: uppercase;
            color: #ffffff;
          }
        }
        .detail-right {
          margin-left: 30px;
          h2 {
            font-weight: 200;
            font-size: 20px;
            line-height: 24px;
            display: inline-block;
            margin-bottom: 10px;
            padding: 0 0 5px 0;
            text-transform: capitalize;
            border-bottom: 1px solid #ffffff;
          }
          p {
            max-width: 300px;
            line-height: 25px;
            margin-bottom: 20px;
          }
          .group-btn {
            a {
              border-radius: 50px;
              text-decoration: none;
              padding: 8px 25px;
              text-transform: capitalize;
              &:first-child {
                border: 1px solid #ffdd00;
                color: #3c3c3c;
                background-color: #ffdd00;
                font-size: 14px;
                margin-right: 10px;
              }
              &:last-child {
                color: #ffffff;
                border: 1px solid #ffffff;
              }
              &:hover {
                background-color: #3c3c3c;
                color: #fff;
                border: 1px solid transparent;
              }
            }
          }
        }
      }
    }
  }
  .contact-us {
    padding: 100px 0;
    background-image: url("./../images/defaults/background/bg5.jpg");
    background-size: cover;
    background-position: bottom;
    .contact-form {
      background-color: #ffdd00;
      padding: 40px 35px;
      text-align: center;
      h5 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #3c3c3c;
      }
      p {
        font-style: italic;
        margin: 0 0 35px 0;
      }
      form {
        input,
        textarea {
          margin-bottom: 10px;
          border: none;
          outline: none;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .btn-slide {
          margin-top: 10px;
          font-size: 13px;
          display: inline-block;
          width: 170px;
          height: 34px;
          padding: 0 15px;
          text-align: center;
          text-transform: uppercase;
          border: 1px solid #3c3c3c;
          border-radius: 50px;
          background-color: #3c3c3c;
          &:focus {
            outline: none;
          }
        }
        span {
          color: #ffdd00;
        }
      }
    }
  }
}
footer {
  .footer-main {
    padding: 100px 0;
    font-size: 12px;
    color: #8e8e8e;
    background-color: #121212;
    background-image: url("../images/defaults/background/bg-footer.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    img {
      max-width: 150px;
      max-height: 65px;
      margin: 0 auto;
      display: block;
      margin-bottom: 90px;
    }
    ul {
      li {
        padding: 0 0 10px;
        line-height: 24px;
      }
    }
    h3 {
      font-size: 17px;
      margin-bottom: 30px;
      text-transform: capitalize;
      color: #fff;
    }
    p {
      line-height: 24px;
    }
    .list-mien {
      li {
        a {
          text-decoration: none;
          position: relative;
          display: block;
          padding: 0 0 12px 20px;
          -webkit-transition: all 0.6s ease;
          -moz-transition: all 0.6s ease;
          -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
          color: #8e8e8e;
          &:hover {
            color: #ffdd00;
          }
          &:before {
            font-family: "FontAwesome";
            color: #ffdd00;
            font-size: 7px;
            position: absolute;
            left: 0;
            content: "\f10c";
          }
        }
        &:hover {
          a {
            &::before {
              content: "\f111";
              color: #ffdd00;
            }
          }
        }
      }
    }
    .list-icon-social {
      margin-left: -30px;
      li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        a {
          font-size: 18px;
          padding: 0 8px;
          color: #ffdd00;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  .copyright {
    background-color: #121212;
    padding: 25px 0;
    text-align: center;
    p {
      color: #ffdd00;
    }
  }
}
@media screen and (max-width: 480px) {
  #header {
    .wrapper-topbar {
      .topbar {
        li {
          border: none;
          padding: 0 15px;
        }
        &-left {
          display: inline-block;
          .header-mail {
            display: none;
          }
        }
      }
    }
  }
  .wrapper-home {
    .about-us {
      .content {
        margin-bottom: 40px;
        img {
          margin-left: 50%;
          transform: translateX(-50%);
        }
        h2 {
          text-align: center;
        }
      }
    }
    .experience {
      padding-left: 15px;
      padding-right: 15px;
      h3 {
        font-size: 30px;
      }
      .promote-videos {
        position: static;
      }
    }
    .news {
      padding: 50px 0;
      .content {
        margin-top: 30px;
      }
    }
    .tours-sale {
      .left-content {
        .content {
          h3 {
            font-size: 60px;
          }
        }
      }
      .right-content {
        background-attachment: scroll;
        padding-left: 10%;
        padding-right: 10%;
        .detail {
          flex-direction: column;
          .detail-left {
            margin-bottom: 30px;
          }
          .detail-right {
            text-align: center;
            p {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }
  footer {
    .footer-main {
      text-align: center;
      .list-mien {
        li {
          a {
            padding-left: 0;
            &:before {
              content: unset;
            }
          }
          &:hover {
            a {
              &::before {
                content: unset;
              }
            }
          }
        }
      }
      .list-icon-social {
        margin-left: 0;
      }
    }
  }
}
