.wraper-partner {
  .section-1 {
    background: url("./../images/defaults/partner/slider-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    width: 100%;
    @include media(768px) {
      height: 300px;
    }
    .box-content {
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .title-slider {
        font-weight: 800;
        color: #fff;
        font-size: 34px;
        text-align: center;
        padding-bottom: 1rem;
        h1 {
          font-size: 40px;
          @include for-size(991) {
            font-size: 30px;
          }
          @include for-size(575) {
            font-size: 25px;
          }
        }
      }
      .box-text {
        color: #fff;
        padding-bottom: 1rem;
        @include for-size(991) {
          text-align: center;
        }
      }
      a {
        display: inline-block;
        background: #fa5535;
        padding: 5px 20px;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        &:hover {
          background: #d63a1c;
          border-radius: 20px;
        }
      }
    }
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    h1 {
      font-size: 30px;
      @include for-size(991) {
        font-size: 20px;
      }
    }
  }
  .section-2 {
    padding-bottom: 30px;
    .content {
      display: flex;
      align-items: center;
      &__left {
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #5191fa;
        line-height: 69px;
        font-size: 40px;
        color: #5191fa;
        transition: all 0.3s;
        &:hover {
          box-shadow: 0px 0px 6px 2px #5191fa;
        }
        @include media(768px) {
          margin-bottom: 20px;
        }
      }
      &__right {
        padding: 0 15px;
        h3 {
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: 600;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
  .section-4 {
    background: url("./../images/defaults/background/benefit.png") no-repeat;
    background-size: cover;
    @include for-size(1199) {
      background-position: center;
    }
    .title-section-4 {
      padding-top: 6rem;
      @include for-size(575) {
        padding-top: 9rem;
      }
      h1 {
        font-weight: 100;
        color: #4a4a4a;
        font-size: 34px;
        text-align: center;
        padding: 1rem 0rem;
      }
      p {
        color: #4a4a4a;
        text-align: center;
        padding-bottom: 3rem;
      }
    }
    .box-content {
      .title-box {
        padding-bottom: 3rem;
        color: #4a4a4a;
        position: relative;
        padding-left: 5rem;
        &::after {
          content: "";
          left: -20px;
          top: 0px;
          height: 100px;
          width: 100%;
          position: absolute;
        }
        &.bg-1 {
          background: url("./../images/defaults/partner/icon-benefit-01.png")
            no-repeat;
        }
        &.bg-2 {
          background: url("./../images/defaults/partner/icon-benefit-02.png")
            no-repeat;
        }
        &.bg-3 {
          background: url("./../images/defaults/partner/icon-benefit-03.png")
            no-repeat;
        }
        &.bg-4 {
          background: url("./../images/defaults/partner/icon-benefit-04.png")
            no-repeat;
        }
        &.bg-5 {
          background: url("./../images/defaults/partner/icon-benefit-05.png")
            no-repeat;
        }
        &.bg-6 {
          background: url("./../images/defaults/partner/icon-benefit-06.png")
            no-repeat;
        }
        h2 {
          padding-bottom: 1rem;
          font-weight: 600;
          color: #848484;
        }
        .box-text {
          line-height: 1.5rem;
        }
      }
    }
  }
  .section-5 {
    padding: 50px 0;
    background-color: #5191fa;
    .my-partner {
      img {
        height: 100px;
      }
      .title-section-5 {
        color: #fff;
        font-size: 34px;
        text-align: center;
        margin-bottom: 50px;
        span {
          font-weight: bold;
        }
      }
      .swiper-container5 {
        overflow: hidden;
      }
    }
  }
}
